apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ts-dns.yaml
  - k3s-upgrade.yaml
  - cluster-issuers.yaml
  - traefik-config.yaml
  - connector.yaml
  - imageupdateautomation.yaml
  - local-storage-class.yaml
  - ts-default-proxy-class.yaml
  - copilot-agent-rbac


configMapGenerator:
  - name: coredns-custom
    namespace: kube-system
    options:
      disableNameSuffixHash: true
    files:
      - ts.net.server
      - arkham.docker.local.server