apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fission
  namespace: fission
spec:
  defaultBackend:
    service:
      name: router
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - fission
