apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base
  - ../base/coder
  - ../base/registry
  - ../base/raiplaysoundrss
  - ../base/arkham
  - ../base/fission
  - ../base/mediamtx
  - ../base/ai
  - arc-runner-set.yaml
  - web-public.yaml
  - capacitor-ingress.yaml
  - fission-runner-set.yaml
  - coder-runner-set.yaml
  - copilot-runner-set.yaml
  - raiplaysoundrss-runner-set.yaml
  - arkham-unmonitorr-sealed-secret.yaml
  - discourse

patches:
  - path: coder-values.yaml
    target:
      kind: HelmRelease
      name: coder
  - patch: |-
      - op: add
        path: "/spec/values/coder/env/-"
        value:
          name: CODER_ACCESS_URL
          value: "https://coder.${ts_net}"
    target:
      kind: HelmRelease
      name: coder
  - path: coder-logstream-kube-values.yaml
    target:
      kind: HelmRelease
      name: coder-logstream-kube
  - path: mediamtx-values-patch.yaml
    target:
      kind: HelmRelease
      name: mediamtx
      namespace: mediamtx
  - path: arkham-resources.yaml
  - path: arkham-pihole-patch.yaml
    target:
      kind: HelmRelease
      name: pihole
      namespace: arkham
  - path: discourse-resources.yaml

configMapGenerator:
  - name: mediamtx-config
    namespace: mediamtx
    files:
      - mediamtx.yml=mediamtx-config.yml
